.kanban {
	background-color: #C5C7C9;
	display: flex;
}

.listContainer {
	background-color: #E2E4E6;
	padding: 8px;
}

.listItem {
	width: initial !important;
	min-height: initial !important;
	margin: 8px 0;
}